button {
    border: 1px solid black;
    padding: 5px;
    width: 25%;
    border-radius: 5px;
}

div {
    display: flex;
    width: 200px;
}

div.border {
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    flex-direction: column;
}

#result {
    text-align: right;
}